<style>

ul {
    list-style: none;
    padding: 0;
}

#nemj-list h4:first-child {
    margin-left: 10px;
    width: 100px;
    display: inline-block;
}

#nemj-list h4:nth-child(2) {
    margin-left: 67%;
    width: 55px;
    display: inline-block;
}
#nemj-list h4:last-child {
    width: 100px;
    margin-left: 25px;
    display: inline-block;
}
#desc {
    margin-left: 20px;
}

#desc p {
    color: #a0a0a0;
}

#nemj-wrapper {
    margin: 0 auto 0 auto;
    border-radius: 15px;
    width: 1040px;
}

#nemj-wrapper p {
    color: #a0a0a0;
}

#title {
 width: 100%;
}

#list {
    width: 100%;
}

#list input {
    font-size: 9pt;
    border: none;
    outline: none;
    background-color: transparent;
}

.expand {
    margin-top: 5px;
    padding:0;
    text-align: center;
    vertical-align: top;
    width: 15px;
    height: 15px;
    line-height: 0.4em;
}
.path {
    width: 75%;
    line-height: 1em;
}

.perms {
    width: 75px;
    text-align: center;
    line-height: 1em;
}

.file:first-child {
    margin-left: 18px;
}
#list input.check {
    width: 75px;
    margin-left: 150px;
}

.dir {
    color: blue;
}

#list input[type="checkbox"] {
   margin-left: 10px;
}

</style>
